.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: white;
  border-radius: 5px;
  padding: 2em;
  width: 500px;
  max-width: 90%;
}

.modal-button-container {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.modal-open {
  animation: modalOpen 0.5s forwards;
}

.modal-close {
  animation: modalClose 0.5s forwards;
}

@keyframes modalOpen {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes modalClose {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}
